html, body {
  margin: 0;
  height: 100%;
}

body {
  display: table;
  width: 100%;
  background-color: rgb(80, 6, 80);
}

#que {
  color: #fff;
}

#quizStart {
  background-color: rgb(43, 223, 43);
  border-radius: 15px;
  color: black;
  display: grid;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
  border: solid black;
}

#sbtn {
    background-color: gold;
    border-radius: 15px;
    color: black;
    display: grid;
    font-size: 22px;
    line-height: 22px;
    margin: 16px 16px 16px 20px;
    padding: 14px 34px;
    text-align: center;
    cursor: pointer;
    border: solid black;
  }

  #hidden {
    display: none;
    opacity: 0;
  }